{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">
    <a href="/students/create">Novo</a>
    <table width="100%">
        <thead>
            <tr>
                <td>Nome completo</td>
                <td>Email</td>
                <td>Ano escolar</td>
                <td>Ação</td>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <span style="background-image: url({{student.avatar_url}})"></span>
                    {{student.name}}
                </td>
                <td>{{student.email}}</td>
                <td>{{student.grade}}</td>
                

                <td><a href="/students/{{student.id}}">ver</td>

            </tr>
            {% endfor%}
        </tbody>
    </table>
    
   
</div>

    
{% endblock content %}