{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="image" 
    style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>
    <section class="details">
        <h3>Details</h3>

        <div class="item">
            <div>Teacher</div>
            <div>{{ teacher.name }}</div>
        </div>

        <div class="item">
            <div>Age</div>
            <div>{{ teacher.age }}</div>
        </div>

        <div class="item">
            <div>Schooling</div>
            <div>{{ teacher.graduation }}</div>
        </div>
        <div class="item">
            <div>Type of class</div>
            <div>{{ "Presencial" if teacher.gender == "Presencial" else "Á distância"}}</div>
        </div>
        <div class="item">
            <div>Accompany</div>
        <div>
            {% for service in teacher.services %}
            <span>{{ service }}</span>
            {% endfor %}
        </div>
        </div>

        <div class="item">
            <div>Since</div>
            <div>{{ teacher.created_at }}</div>
        </div>

        <a type="show" href="/teachers/{{ teacher.id }}/edit">Editar</a>
        
    </section>
</div>

    
{% endblock content %}